<% layout("/layouts/boilerplate") %> 
  
  <div id="filters">
    <div class="filter">
      <div><i class="fa-solid fa-fire"></i></div>
      <p>Trending</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-umbrella-beach"></i></div>
      <p>Beach</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-mountain-sun"></i></div>
      <p>Mountains</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-tents"></i></div>
      <p>Camping</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-person-hiking"></i></div>
      <p>Hiking</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-city"></i></div>
      <p>City</p>
    </div>
    <div class="filter">
      <div><i class="fa-regular fa-snowflake"></i></div>
      <p>Arctic</p>
    </div>
    <div class="filter">
      <div><i class="fa-brands fa-fort-awesome"></i></div>
      <p>Castles</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-person-swimming"></i></div>
      <p>Pools</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-water"></i></div>
      <p>Surfing</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-om"></i></div>
      <p>Pilgrimage</p>
    </div>
  </div>

  <div class="row row-cols-lg-3 mt-3 row-cols-md-2 row-cols-sm-1">
    <% for(let listing of allListings) { %>

      <a href="/listings/<%= listing._id %>" class="listing-link">
        <div class="card col listing-card">
          <img 
          src="<%= listing.image.url %>" 
          class="card-img-top" 
          alt="listing-image" 
          style="height: 20rem;" 
          />

          <div class="card-img-overlay"></div>
          <div class="card-body">
            <p class="card-text">
              <b>
                <%= listing.title %>
              </b> <br>
              &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
            </p>
          </div>
        </div>
      </a>
      <% } %>
  </div>